
#articles {
    counter-reset: articles;
}

.article-item {

    counter-increment: articles;
}


.article-item > h2::before {
    content: counter(articles) ". ";

}

ol {
    counter-reset: items;
    list-style-type: none;
}

li::before {
    counter-increment: items;
    content: counters(items, '.') " ";
}
